:root {
  --main-text-cl-light: #000000;
  --main-text-cl-dark: #ffffff;
  --secondary-text-cl-light: #545454;
  --secondary-text-cl-dark: #ababab;
  --accent-cl: #ff6b08;
  // --accent-cl-light: #ff6b08;
  // --accent-cl-dark: #ff6b08;
  --main-cl-light: #ffffff;
  --main-cl-dark: #000000;
  --logo-cl: #818181;
  // --logo-cl-light: #818181;
  // --logo-cl-dark: #818181;
  --secondary-bg-cl-light: #f7f7f7;
  --secondary-bg-cl-dark: #080808;
  @media (prefers-color-scheme: 'dark') {
    --main-text-cl: var(--main-text-cl-dark);
    --secondary-text-cl: var(--secondary-text-cl-dark);
    // --accent-cl: var(--accent-cl-dark);
    --main-cl: var(--main-cl-dark);
    // --logo-cl: var(--logo-cl-dark);
    --secondary-bg-cl: var(--secondary-bg-cl-dark);
  }
  @media (prefers-color-scheme: 'light') {
    --main-text-cl: var(--main-text-cl-light);
    --secondary-text-cl: var(--secondary-text-cl-light);
    // --accent-cl: var(--accent-cl-light);
    --main-cl: var(--main-cl-light);
    // --logo-cl: var(--logo-cl-light);
    --secondary-bg-cl: var(--secondary-bg-cl-light);
  }
}
