@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
:root {
  --main-text-cl: #000000;
  --secondary-text-cl: #545454;
  --accent-cl: #ff6b08;
  --main-light-cl: #ffffff;
  --logo-cl: #818181;
  --secondary-bg-cl: #f7f7f7;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  color: var(--main-text-cl);
}

body.modal-open {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms linear, visibility 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--accent-cl);
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: var(--main-light-cl);
  cursor: pointer;
  -webkit-transition: color 250ms linear, background-color 250ms linear;
  transition: color 250ms linear, background-color 250ms linear;
}

.modal-close:hover, .modal-close:focus {
  outline: none;
  color: var(--main-light-cl);
  background-color: var(--accent-cl);
}

@media (min-width: 768px) {
  .gallery-section {
    padding: 60px 75px 50px 75px;
  }
}

@media (min-width: 1024px) {
  .gallery-section {
    padding-left: 71px;
    padding-right: 71px;
  }
}

.gallery {
  list-style: none;
  display: -ms-grid;
  display: grid;
  gap: 20px 20px;
}

@media (min-width: 768px) {
  .gallery {
    gap: 30px 30px;
    -ms-grid-columns: (294px)[2];
        grid-template-columns: repeat(2, 294px);
  }
}

@media (min-width: 1024px) {
  .gallery {
    -ms-grid-columns: (274px)[3];
        grid-template-columns: repeat(3, 274px);
  }
}

.card-item {
  position: relative;
}

.movie-title {
  text-transform: uppercase;
  color: var(--main-text-cl);
}

.movie-info {
  position: relative;
  color: var(--accent-cl);
}

.movie-info:not(:last-child)::after {
  content: ' ';
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--accent-cl);
  position: absolute;
  top: 0;
  right: -10px;
}

.movie-rating {
  padding: 1px 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--accent-cl);
  color: var(--main-light-cl);
  width: 36px;
  height: 16px;
}

.movie-img {
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

@media (min-width: 768px) {
  .movie-img {
    height: 398px;
  }
}

.popular-movie-card__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popular-movie-info__year {
  margin-left: 20px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  -webkit-transition: opacity 250ms linear, visibility 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.pagination.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.pagination__button {
  width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-text-cl);
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: color 250ms linear, background-color 250ms linear, opacity 250ms linear, visibility 250ms linear;
  transition: color 250ms linear, background-color 250ms linear, opacity 250ms linear, visibility 250ms linear;
}

.pagination__button--bg {
  background-color: var(--secondary-bg-cl);
}

.pagination__button:not(:disabled):hover, .pagination__button:focus {
  outline: none;
  color: var(--main-light-cl);
  background-color: var(--accent-cl);
}

.pagination__button--active {
  color: var(--main-light-cl);
  background-color: var(--accent-cl);
}

.pagination__button--active:hover, .pagination__button--active:focus {
  background-color: transparent;
  color: var(--main-text-cl);
  border: 1px solid var(--accent-cl);
}

.pagination__button.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.pagination__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dots {
  -webkit-transition: opacity 250ms linear, visibility 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.dots.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hide {
  display: none;
}

@media (min-width: 768px) {
  .hide {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.buttons__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn--modal,
.btn--header {
  text-transform: uppercase;
  height: 44px;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.btn--modal {
  width: 112px;
}

@media (min-width: 768px) {
  .btn--modal {
    width: 125px;
  }
}

@media (min-width: 1024px) {
  .btn--modal {
    width: 136px;
  }
}

.btn--modal:first-child,
.btn--header:first-child {
  margin-right: 15px;
}

.btn--off {
  background-color: transparent;
  color: var(--main-text-cl);
  border: 1px solid var(--main-text-cl);
}

.btn--header {
  color: var(--main-light-cl);
  border: 1px solid var(--main-light-cl);
  width: 130px;
}

@media (min-width: 1024px) {
  .btn--header {
    width: 136px;
  }
}

.btn--on {
  background-color: var(--accent-cl);
  color: var(--main-light-cl);
  border: none;
}
/*# sourceMappingURL=main.css.map */