<header class="header">
  <a href="index.html" class="header__logo">
    <svg>
      <use href="images/sprite.svg#icon-film"></use>
    </svg>
    <span>Filmoteka</span>
  </a>
  <form action="">
    <label for=""></label>
    <input type="text" placeholder="Поиск фильмов" />
  </form>

  <nav class="header-nav">
    <ul class="header-list">
      <li class="header-list__item"><a href="" class="header-list__link">Home</a></li>
      <li class="header-list__item"><a href="" class="header-list__link">My library</a></li>
    </ul>
  </nav>
</header>
