<div class="pagination">
  <button class="pagination__button pagination__button--bg" data-btn="prev" type="button">
    Prev
  </button>
  <div class="pagination__pages">
    <span class="pagination__button hide" data-btn="page">1</span>
    <span class="hide">...</span>
    <div class="pagination__container">
      <span class="pagination__button" data-btn="page">10</span>
      <span class="pagination__button" data-btn="page">11</span>
      <span class="pagination__button" data-btn="page">12</span>
      <span class="pagination__button pagination__button--active" data-btn="page">13</span>
      <span class="pagination__button" data-btn="page">14</span>
      <span class="pagination__button" data-btn="page">15</span>
    </div>
    <span class="hide">...</span>
    <span class="pagination__button hide" data-btn="page">20</span>
  </div>
  <button class="pagination__button pagination__button--bg" data-btn="next" type="button">
    Next
  </button>
</div>
