<div class="pagination">
  <button class="pagination__button pagination__button--bg" data-btn="prev" type="button">
    Prev
  </button>
  <div class="pagination__pages">
    <span class="pagination__button hide" data-btn="page">1</span>
    <span class="dots hide">...</span>
    <div class="pagination__container"></div>
    <span class="dots hide">...</span>
    <span class="pagination__button hide" data-btn="page"></span>
  </div>
  <button class="pagination__button pagination__button--bg" data-btn="next" type="button">
    Next
  </button>
</div>
