.gallery {
  list-style: none;
}

.card-item {
  position: relative;
}

.movie-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--main-text-cl);
}

.movie-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--accent-cl);
}

.movie-info:not(:last-child)::after {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--accent-cl);
  position: absolute;
  //top:0;
  //right: -10px;
}
