.gallery-section {
  @include mq(tablet) {
    padding: 60px 75px 50px 75px;
  }

  @include mq(desktop) {
    padding-left: 71px;
    padding-right: 71px;
  }
}

.gallery {
  list-style: none;
  display: grid;
  gap: 20px 20px;

  @include mq(tablet) {
    gap: 30px 30px;
    grid-template-columns: repeat(2, 294px);
  }

  @include mq(desktop) {
    grid-template-columns: repeat(3, 274px);
  }
}

.card-item {
  position: relative;
}

.movie-title {
  text-transform: uppercase;
  color: var(--main-text-cl);
}

.movie-info {
  position: relative;
  color: var(--accent-cl);
}

.movie-info:not(:last-child)::after {
  content: ' ';
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--accent-cl);
  position: absolute;
  top: 0;
  right: -10px;
}

.movie-rating {
  padding: 1px 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--accent-cl);
  color: var(--main-light-cl);
  width: 36px;
  height: 16px;
}

.movie-img {
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  object-fit: cover;
  width: 100%;

  @include mq(tablet) {
    height: 398px;
  }
}

.popular-movie-card__meta {
  display: flex;
}

.popular-movie-info__year {
  margin-left: 20px;
}
